body {
    background-color: grey;
    text-align: center;
/*     width: 650px; */
    width: 45.62%;
/*     margin-left: 387px; */
    margin-left: 27.2%;
}
ul {
    text-align: left;
/*     margin-left: 200px; */
       margin-left: 30.8%;
/*     width: 100%; */
}

@media only screen and (max-width: 450px) {
    body {
        background-color: grey;
        text-align: center;
        width: 45.62%;
        margin-left: 27.2%;
    }
    ul {
        text-align: left;
        margin-left: 30.8%;
    }
}
