body {
    background-color: #0f1e3b;
    color: #ffffff;
    text-align: center;
    /*width: 650px; */
    /*width: 45.62%;*/
    margin-left: auto;
    margin-right: auto;
}
a {
    color: #ffffff;
}

ul {
    text-align: left;
    /*margin-left: 200px; */
    margin-left: 30.8%;
    /*width: 100%; */
}

.root-img {
    max-width: 126px;
    max-height: 131px;
}

tr {
    height: 200px;
}

div, p, h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    color: white;
}

@media only screen and (max-width: 450px) {
    body {
        background-color: #909090;
        text-align: center;
        width: 90%;
        margin-left: 5%;
    }
    ul {
        text-align: left;
        margin-left: 0%;
    }
}

.home-wrapper {
    text-align: center;
    z-index: 2;
}

.center {
    top: 50px;
    left: 50%;
    position: absolute;
    /*-webkit-transform: translate(-50%,-50%);*/
    transform: translate(-50%,-50%);
}

.site-title-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.site-title {
    position: relative;
    font-size: 90px;
}

#title-foreground {
    z-index: 1;
}

#title-background {
    color: #e853e7;
    bottom: -5px;
    left: -5px;
    position: absolute;
}

#projectsTable {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}