body {
    background-color: #0f1e3b;
    color: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
a {
    color: #ffffff;
}

ul {
    text-align: left;
    margin-left: 30.8%;
}

tr {
    height: 200px;
}

div, p, h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    color: white;
}

@media only screen and (max-width: 450px) {
    body {
        background-color: #0f1e3b;
        text-align: center;
        width: 90%;
        margin-left: 5%;
    }
    ul {
        text-align: left;
        margin-left: 0%;
    }
}

.float-header {
    float: right;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 63px;
    height: auto;
    display: block;
}

.social-link {
    width: 73px;
}

.social-logo {
    width: 63px;
}

.home-wrapper {
    text-align: center;
/*    margin-bottom: 10px;*/
/*    top: 25px;*/
/*	left: 50%;*/
	position: absolute;
/*	-webkit-transform: translate(-50%,-0%);*/
/*	transform: translate(-50%,-0%);*/
}

.site-title-wrapper {
/*    width: min-content;*/
/*    width: 100%;*/
/*    width: auto;*/
/*    height: 20%;*/
/*    position: relative;*/
/*    margin: auto;*/
    
/*    position: relative;*/
	display: inline-block;
	width: 100%;
}

.site-title {
    position: relative;
    font-size: 80px;
}

#title-foreground {
/*    position: absolute;*/
/*    left: 37%;*/
    z-index: 1;
}

#title-background {
/*    z-index: -1;*/
    position: absolute;
    color: #e853e7;
/*    left: -5px;*/
/*    top: 5px;*/
    bottom: -5px;
    left: -5px;
}

#projectsTable {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.root-img {
    max-width: 126px;
    max-height: 131px;
}